 <div class="page-background" style="background-image: url(https://res.cloudinary.com/db1sllnsq/image/upload/v1570459933/background-close-up-color-1101122_ngdfmu.jpg);">
  <%= render 'shared/navbar' %>
  <div class="container">
    <h1>PROJECTS</h1>
    <div class="projects">
      <p>My <%= link_to "Github", "https://github.com/EvelinaLarsson", class: "project-link", target: "_blank" %> account contains 30+ repositories, and I have contributed to a number of repos during my time at Le Wagon. Including this website the following projects are live, hosted externally by Heroku.</p>

      <p><em>N.B. Since none of the sites below are active, the server may take some time to fire up.</em></p>
    </div>
    <div class="project-one">
      <h2 id="onetwosix">One Two Six - weeks 8 & 9</h2>
      <div class="content">
        <div id="carouselExampleControlsOne" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag "126-home.png", class: "d-block w-100" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "126-carousel.png", class: "d-block w-100" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "126-combos.png", class: "d-block w-100" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "126-choice.png", class: "d-block w-100" %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControlsOne" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControlsOne" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="description">
          <p>Apparently, people spend 18 minutes a day scrolling Netflix in search of something to watch. This, combined with the demands of cooking, can be pretty annoying on a Friday night. Enter <%= link_to "126", "http://www.onetwosix.co.uk/", class: "project-link", target: "_blank" %>. The user simply has to add their postcode, combine a movie genre and food type and then browse through the combos provided by the app. Every restaurant that delivers in the area will be included as an option. Once a combo is chosen it will take the user to the movie on Netflix and to the restaurant on Deliveroo.</p>
          <p> We achieved these features by scraping the Deliveroo platform for open restaurants corresponding with the chosen cuisine and within the postcode entered, and by parsing Netflix movie titles by genre using an API. An automated Youtube search for movie trailers was incorporated. As a perk for restaurant owners on Deliveroo, we built an option to join the platform as a sponsor and create a combo of their own restaurant and a film to increase their order numbers. The app is hosted by Heroku.</p>
          <p>Our team of four built this app in less than 10 days, during the last two weeks of the Le Wagon bootcamp. We had already decided on the flow and on the overall user journey previously, using Figma and Whimsical, but during production I styled the site, made it responsive on all devices and integrated the carousel using JavaScript. On demo night my team and I presented the app in front of an audience at the Google Start-up Campus in London.</p>
        </div>
      </div>
    </div>
    <div class="project-two">
      <h2 id="limelight">Limelite - week 7</h2>
      <div class="content">
        <div id="carouselExampleControlsTwo" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag "limelight-home.png", class: "d-block w-100" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "limelight-search.png", class: "d-block w-100" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "limelight-event.png", class: "d-block w-100" %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControlsTwo" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControlsTwo" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="description">
          <p>Our team of four built <%= link_to "Limelite", "https://cinema-airbnb-clone.herokuapp.com/", class: "project-link", target: "_blank" %> to include as many of the features a web developer should know as possible, i.e. search by dates, maps, payments, users of different specifications, grids, sign up and log in/log out.</p>
          <p>Limelite is an MVC app that allows users to search for film events using location, buy tickets for the ones they like the look of, and to host their own events. We were working on tight timings with this app, having only four full days for production. The app is hosted by Heroku.</p>
          <p>Although the business standard is mobile first, we knew we would present this app on desktop only, and due to time constraints, we did not make this site responsive.</p>
          <p><em>N.B. Since this isn’t a live app it contains limited seeds, added only for our team to be able to present. To ensure you get search results, enter Manchester on Halloween 2019.</em></p>
        </div>
      </div>
    </div>
    <div class="project-three">
      <h2 id="my-cocktails">My Cocktails - week 6</h2>
      <div class="content">
        <div id="carouselExampleControlsThree" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag "cocktail-home.png", class: "d-block w-100" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "cocktail-detail.png", class: "d-block w-100" %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControlsThree" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControlsThree" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="description">
          <p>Built across two days, <%= link_to "My Cocktails", "https://jagharennyhemside.herokuapp.com/", class: "project-link", target: "_blank" %> was my first MVC app.</p>

          <p>The app was created for practice only and was built with basic usability; the user can add cocktails with images hosted by Cloudinary, as well as add and remove ingredients from the cocktails show page.</p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/generic-footer' %>
</div>
